body {
    background-color: #0e1a35;
    width: 100%;
}

header {
    display: flex;
    margin-left: 160px;
    margin-right: 150px;
    padding-top: 67px;
    justify-content: space-between;
}

ul {
    display: block;
}

li {
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

.nav-item {
    display: block;
    line-height: 65px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}

.login {
    margin-left: 60px;
    margin-right: 25px;
    padding: 17px 43px;
    line-height: 65px;
    border: 1px solid #5584ff;
    border-radius: 30px;

    color: #5584ff;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.bcg {
    position: absolute;
    width: 100%;
    height: 800px;
    background: url('img/Graph.png') center no-repeat;
    background-size: 100%;
    opacity: 0.05;
    z-index: -1;
}

.bcg2 {
    position: absolute;
    width: 100%;
    height: 800px;
    background: url('img/Grid.png') 0 -30px no-repeat;
    background-size: 100%;
    opacity: 0.8;
    z-index: -2;
}

#home {
    text-align: center;
    padding-bottom: 300px;

}

.main-title {
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin-top: 155px;
}

.sub-title {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: #8492af;
    margin-top: 35px;
}

.get-start {
    display: block;
    width: 205px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border: 1px solid #5584ff;
    border-radius: 30px;
    color: #ffffff;
    background-color: #5584ff;
    padding: 18px 55px;
    margin: 85px auto;

}

#ftrbrs{
    background-color: white;
}

#features {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 20px;
}

.ftr {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.features-name {
    padding-bottom: 40px;

    color: #0e1a35;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

.grey-p1 {
    display: inline-block;
    height: 76px;
    overflow: hidden;
    margin-bottom: 60px;

    color: #a7b1c5;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
}

.icon {
    box-sizing: content-box;
    width: 80px;
    height: 75px;
    margin: 0 auto;
    padding-top: 265px;
    padding-bottom: 40px;

}

.seemore {
    display: block;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 20px 90px;

    color: #0e1a35;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    border: 1px solid #a7b1c5;
    border-radius: 25px;
}

#need-browser {
    display: flex;
    justify-content: space-between;
    padding-top: 225px;
    padding-bottom: 100px;
}

.pads {
    width: 50%;
    height: 50%;
}

.need_text_content {
    padding-top: 30px;
    padding-left: 150px;
    text-align: left;
}

.need-title {
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    color: #0e1a35;
}

.light-grey-p {
    padding-bottom: 50px;
    color: #8492af;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 2.5;
}

.its_ok {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: text-bottom;
}

.light-blue-p {
    display: inline;
    padding-left: 10px;
    line-height: 60px;
    vertical-align: super;

    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #5284ff;
}

#drag_drop {
    display: flex;
    justify-content: space-around;

    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 200px;

    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.bcg3 {
    height: 100%;
    background-size: 150%;
}

#drag-drop-boards {
    display: flex;
    justify-content: center;
}

.drag-title, .drop-title {
    padding-top: 165px;
    padding-bottom: 35px;
    font-size: 30px;
}

.how-many {
    color: #a7b1c5;
}

.checked {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #00bf1b;
    border-radius: 50%;
    padding: 1px 2px;
    font-size: 8px;
}
.drop {
    margin-left: 45px;
}

.drag-item, .dropped-item {
    display: flex;
    justify-content: space-between;
    width: 390px;
    height: 100px;
    margin-bottom: 15px;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 30px;
    background-color: white;
    text-align: left;

}

.drag-item:hover {
    cursor: pointer;
}

.dropped-item:hover {
    cursor: pointer;
}

.first-child {
    display: flex;
    justify-content: center;
}
.blue-mark {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    background-color: #5584ff;
    border: 1px solid #5584ff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.name-item {

    color: black;
    font-weight: bold;
}

.left-time {
    color: #a7b1c5;
}

.danger-left-time {
    color: #f8407e;
}

.completed {
    color: #00bf1b;
}

.deadline {
    padding-top: 10px;
    font-size: 12px;
}

.dotts {
    transform: rotateZ(90deg) translateX(-10px);

    color: #a7b1c5;
    font-size: 35px;
    font-weight: bold;
}

.item-info {

}

.drag_drop-info {
    padding-top: 220px;
    padding-left: 35px;
    width: 530px;
}
.drag_drop-title {

    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.place-to-drop {
    width: 390px;
    height: 100px;
    border: 2px dashed #a7b1c5;

    color: #a7b1c5;
    text-align: center;
    line-height: 100px;
}

.psd-template {
    position: relative;
    background-color: white;
    font-family: 'Roboto', sans-serif;

    height: 1130px;
}

.psd-bcg {
    top: 186px;
    left: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('img/psd-bcg.png') center no-repeat;
    background-size: 100%;
}
.psd-title {
    padding-top: 100px;
    padding-bottom: 65px;
    font-size: 45px;
    font-weight: 300;
    color: #0e1a35;
    text-align: center;
}

.psd-p {
    margin: 0 auto;
    text-align: center;
    width: 930px;
}

.psd-p2 {
    position: relative;
    width: 400px;
    border-bottom: 2px solid #5284ff;
    box-sizing: content-box;
}



.point {
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    border: 7px solid #99b5ff;
    background-color: #5584ff;
    border-radius: 50%;

}

.left-psd {

    margin-top: 185px;
    padding-left: 30px;
    text-align: left;
    line-height: 30px;
}

.right-psd {
    position: absolute;
    right: 30px;

    padding-right: 30px;
    text-align: right;
    line-height: 30px;
}
.point1 {
    left: 440px;
    top: 8px;
}

.point2 {
    top: 7px;
    left: -11px;

}

.left-p, .right-p {
    width: 200px;
    padding-top: 15px;
}

.right-p {
    box-sizing: content-box;
    padding-left: 260px;
}
.left-pa {
    padding-right: 60px;
}

.right-pa {
    padding-left: 60px;
}





